*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    height: 50px;
    background-color: #F8F9FA;
}
main{
    height: calc(100vh - 50px);
    display: flex;
}
.main-content{
    width: calc(100vw - 125px);
    overflow-y: auto;
}
.top-main{
    width: 100%;
    background-color: #1B72E8;

}
.bottom-main{
    width: 100%;
}
.sidebar{
    width: 125px;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo-mobile{
    display: none;
}
/* common */
.font-size-12{
    font-size: 12px;
}

.bg-trasparent{
    background-color: rgba(0, 0, 0, 0.3);
}
.bg-grey{
    background-color: #E5E5E5;
}
.bg-blue{
    background-color: #1B72E8;
}
.bg-yellow{
    background-color: rgb(255, 193, 7);
}
.width-30{
    width: 30px;
}
.width-50{
    width: 50px;
}
.width-50-perc{
    width: 0;
}
.width-120{
    width: 120px;
}
.ai-center{
    display: flex;
    align-items: center;
}
.height-100{
    height: 100%;
}

/* media 768px tablet */
@media screen and (max-width: 768px) {
    .sidebar span{
        display:none
    }
    .sidebar{
        width: 50px;
    }
    .logo{
        display: none;
    }
    .logo-mobile{
        display: block;
    }
    .header-end{
        display: none;
    }
    .main-content{
        width: calc(100vw - 50px);
    }
}
/* media 500px mobile */
@media screen and (max-width: 500px) {
    .none{
        display: none;
    }
    .item-1{
        order: 1;
    }
    .item-2{
        order: 2;
    }
    .item-3{
        order: 3;
    }
}